.App {
  text-align: center;
}
.drinkBtn {
  padding: 6px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
}
.btnChild {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  flex-grow: 1;
  text-align: center;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.circleCount {
  padding: .3em;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  min-width: 1.2em;
  min-height: 1.2em;
  background-color: rgb(255, 110, 110);
  border-radius: 50%;
  transform: translate(50%, -50%);
}





